{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "react-hooks",
    "import",
    "simple-import-sort"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-prettier",
    "prettier",
    "plugin:react-hooks/recommended"
  ],
  "ignorePatterns": ["node_modules/*", "dist/*"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": ["warn", { "vars": "all" }],
    "react-hooks/exhaustive-deps": "warn",
    "no-console": ["warn", { "allow": ["info", "warn", "error"] }],
    "no-return-await": "off",
    "@typescript-eslint/return-await": "error",
    "prettier/prettier": [
      "warn",
      {
        "printWidth": 80,
        "useTabs": false,
        "tabWidth": 2,
        "trailingComma": "es5",
        "semi": true,
        "singleQuote": true,
        "bracketSpacing": true,
        "arrowParens": "always",
        "jsxSingleQuote": false,
        "bracketSameLine": false,
        "endOfLine": "lf"
      }
    ],
    "import/no-unresolved": "error",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      },
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
